#user-page {
    padding: 24px;
}

#user-page h2 {
    font-family: Arial;
}

#user-details {
    font-family: Arial;
    width: 50%;
    border: 1px solid black;
    margin: 8px auto;
    padding: 24px;
}

#user-details p {
    padding: 8px;
}

#user-details button {
    background: none;
    border: none;
}

#ship-store {
    font-family: Arial;
    width: 50%;
    border: 1px solid black;
    padding: 24px;
    margin: 8px auto;
}

#ship-store input, select {
    margin-top: 8px;
    padding: 8px;
    cursor: pointer;
}

.user-ship-options {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin: 4px 0;
}

.user-ship-options input {
    cursor: pointer;
    padding: 8px;
    height: 100%;
    margin: 0;
}