* {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav {
    justify-content: space-between;
    font-family: Arial;
    display: flex;
}

nav a {
    padding: 8px;
}

nav p {
    padding: 8px 42px;
}

nav div {
    display: flex;
}