.error {
    font-weight: bold;
    color: red;
}

.form {
    display: flex;
    flex-direction: column;

    padding: 16px;
    margin: auto;

    width: 50%;

    border: 1px solid grey;
    border-radius: 5px;
}

.form h2 {
    font-family: Arial, Helvetica, sans-serif;
}

.form input {
    padding: 8px;
    margin: 8px;
}

.form input[type=submit] {
    margin: 8px auto;
    width: fit-content;
}