{% extends "layout.j2" %}

{% block styles %}
<link rel="stylesheet" href="/static/css/dashboard.css" />
{% endblock %}

{% block body %}
<div id="user-page">
    <h2>{{ data["username"] }} <code>{{ data["id"] }}</code></h2>
    <div id="user-details">
        <h4><button>[+]</button> ships</h4>
        <ol>
            {% for ship in data["ships"] %}
                <li>{{ ship }}</li>
            {% endfor %}
        </ol>
    </div>
    <div id="ship-store">
        <h4>Buy a ship</h4>
        <ol>
            {% for ship in ships %}
                <li>{{ ship }}</li>
            {% endfor %}
        </ol>
    </div>
</div>
{% endblock %}