{% extends "layout.j2" %}
{% block body %}

{% if data %}
    <center>welcome to your little corner of the galaxy</center>
{% else %}
    <center>instantaneous intergalactic communication</center>
{% endif %}


{% endblock %}