<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/css/styles.css" />
        <title>this is only a test</title>
        {% block styles %}{% endblock %}
        {% block preloadscripts %}{% endblock %}
    </head>
    <body>
        <nav>
            <a href="/">Void Voyager: Ansible</a>
            <div class="woah">
                {% if data %}
                    <a href="/dashboard">dashboard</a>
                    <a href="/logout">log out</a>
                {% else %}
                    <a href="/signup">sign up</a>            
                    <a href="/login">log in</a>
                {% endif %}
            </div>
        </nav>
        {% block body %}{% endblock %}
        {% block scripts %}{% endblock %}    
    </body>
</html>