<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>this is only a test</title>
        {% block styles %}{% endblock %}
        {% block preloadscripts %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block scripts %}{% endblock %}    
    </body>
</html>